#index-main-playlist-tiles h2 {
    margin-top: -1rem;
    color: var(--white);
}

#index-main-playlist-tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.7rem;
    margin-bottom: 4rem;
}

.main-playlist-tile {
    background-color: rgba(255, 255, 255, 0.08);
    width: calc(33.3% - 0.66rem);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 1rem;
    transition: 300ms ease;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.main-playlist-tile-image {
    height: 5rem;
    width: 20%;
    margin-right: 1rem;
}

.main-playlist-tile-image img {
    height: 100%;
    object-fit: cover;
}

.main-playlist-tile-title {
    width: 60%;
}

.main-playlist-tile-title span {
    font-size: var(--font-small);
    letter-spacing: -0.5px;
    color: white;
    font-weight: 600;
}

.main-playlist-playbutton {
    width: 15%;
    height: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #1fdf64;
    color: black;
    opacity: 0;
    transition: 500ms ease;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.438);
}

.main-playlist-tile:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.main-playlist-tile:hover > .main-playlist-playbutton {
    opacity: 1;
}

/* index episodes section */
#main-index-episodes-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.main-index-episode-tile {
    width: 18%;
    background-color: rgba(255, 255, 255, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem 2rem;
    transition: 200ms ease;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    position: relative;
}
.main-index-episode-tile:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.main-episode-tile-image {
    width: 100%;
}

.main-episode-image-small {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5%;
    top: 52%;
}

.main-episode-tile-image img,
.main-episode-image-small img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.main-episode-tile-titles span {
    font-size: 11px;
    color: var(--inactive);
}

#main-footer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

#contact-table {
    width: 80%;
    font-size: var(--font-small);
}

#contact-table table {
    text-align: left;
}

th {
    color: var(--white);
    width: 16%;
    padding-bottom: 0.5rem;
}

td {
    padding: 0.5rem 0;
}

#socials {
    width: 20%;
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.social-icon:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

#bottom-footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 3rem;
    font-size: var(--font-xs-small);
}

#footer-links {
    display: flex;
    gap: 1rem;
}

#trademark {
    color: var(--white);
}
