#main-content {
    grid-area: main;
    padding: 1rem 1.5rem;
}

.main-header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.3rem;
}

.back-and-forward-buttons,
.download-and-profile-buttons {
    display: flex;
    gap: 0.5rem;
}

.back-and-forward-buttons i {
    width: 33px;
    height: 33px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.back-and-forward-buttons i:hover {
    background: rgba(0, 0, 0, 0.6);
}

.download-and-profile-buttons span {
    padding: 0.5rem 0.6rem;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    font-size: var(--font-small);
    color: var(--white);
}

.download-and-profile-buttons span i:first-of-type {
    margin-right: 0.3rem;
}

#download-app-button:hover,
#profile-button:hover {
    transform: scale(1.04);
}

#header-playlist-details {
    display: flex;
    align-items: end;
    gap: 1.5rem;
    color: var(--white);
    margin-bottom: 2.6rem;
}

#header-playlist-titles {
    padding: 0.5rem 0;
}

#playlist-image-container {
    width: 15rem;
    height: 15rem;
}

#playlist-image-container img {
    object-fit: cover;
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#playlist-duration {
    font-size: var(--font-xs-small);
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-play-and-settings {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

#header-play-button {
    width: 55px;
    height: 55px;
    background-color: #1fdf64;
    border-radius: 50%;
}

#header-play-button i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 23px;
    margin-left: 2px;
}

#header-play-button:hover {
    background-color: #19e664;
    transform: scale(1.03);
}

#header-settings-button i {
    font-size: 30px;
}

#playlist-table {
    padding: 0 2rem 0 1rem;
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

th {
    padding-bottom: 0.5rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    letter-spacing: -0.2px;
    text-align: left;
}

td {
    font-weight: 500;
}
