#main-content {
    grid-area: main;
    padding: 1rem 1.5rem;
    position: relative;
    z-index: 1;
}

.main-header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.3rem;
}

.back-and-forward-buttons,
.download-and-profile-buttons {
    display: flex;
    gap: 0.5rem;
}

.back-and-forward-buttons i {
    width: 33px;
    height: 33px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.back-and-forward-buttons i:hover {
    background: rgba(0, 0, 0, 0.6);
}

.download-and-profile-buttons span {
    padding: 0.5rem 0.6rem;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    font-size: var(--font-small);
    color: var(--white);
}

.download-and-profile-buttons span i:first-of-type {
    margin-right: 0.3rem;
}

#download-app-button:hover,
#profile-button:hover {
    transform: scale(1.04);
}

#header-playlist-details {
    display: flex;
    align-items: end;
    gap: 1.5rem;
    color: var(--white);
    margin-bottom: 2.6rem;
}

#header-playlist-titles {
    padding: 0.5rem 0;
}

#playlist-image-container {
    width: 15rem;
    height: 15rem;
}

#playlist-image-container img {
    object-fit: cover;
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#playlist-duration {
    font-size: var(--font-xs-small);
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-play-and-settings {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

#header-play-button {
    width: 55px;
    height: 55px;
    background-color: #1fdf64;
    border-radius: 50%;
}

#header-play-button i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 23px;
    margin-left: 2px;
}

#header-play-button:hover {
    background-color: #19e664;
    transform: scale(1.03);
}

#header-settings-button i {
    font-size: 30px;
}

.playlist-headers,
.playlist-song-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem 0.6em 1.5rem;
}

.playlist-song-container {
    flex-direction: column;
}

.playlist-header-element,
.playlist-song-element {
    font-size: 13px;
    letter-spacing: -0.2px;
    text-align: left;
}

.song-component {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: var(--font-xs-small);
}

.song-component:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.06);
}

.song-titles {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.songlist-album-cover {
    width: 40px;
    height: 40px;
}

.songlist-album-cover img {
    width: 100%;
    object-fit: cover;
}

.song-title-and-artist {
    display: flex;
    flex-direction: column;
}

.songlist-song-title {
    font-size: var(--font-med);
    color: var(--white);
}

.songlist-song-artist {
    font-size: var(--font-xs-small);
}
